<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="javatunesDataSource" 
	      class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		  <property name="driverClassName"
					value="TODO"/>
		  <property name="url"
					value="TODO"/>
		  <property name="username" value="TODO"/>
		  <property name="password" value="TODO"/>
	</bean>
	
	<!-- TODO - Declare SpringMusicItemDAO bean called musicItemDAO, and initialize datasource prop by injecting javatunesDataSource -->
	
</beans>